.sp-replacer.sp-light {
  padding: 0 !important;
  border: 0 !important;
  background: 0 !important;

  .sp-preview {
    margin: 0 !important;
  }

  .sp-dd {
    display: none !important;
  }
}